<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FASTAPIt</title>
    <link rel="icon" href="https://cdn.vectorstock.com/i/1000v/38/92/logo-of-fastapi-python-web-framework-vector-50653892.jpg" type="image/x-icon" />

</head>
<body style="background-color: beige;">
    <h1 style="color: black;">This template is rendered from fastapi</h1>
    <p style="color: rgb(0, 0, 0);">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro beatae asperiores quod consequuntur iure nulla, labore vel ex, doloribus id sed deserunt sunt aliquid? Porro dolorem provident quos quisquam est?</p>
    <div style="width: 500px; height: 500px;"><img src="https://tse2.mm.bing.net/th/id/OIP.NagU9V2WYEucEEM0mTuV0gHaD-?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt=""></div>
</body>
</html>