<!DOCTYPE html>
<html lang="en">
<head>
    <title>My FastAPI App</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/assets/images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
   
     <nav>
        <div><img src="{{ url_for('static', path='/assets/images/logo.png')}}" id="logo-img"></div>
        <div id="nav1">
            <a href="/">Home</a>
            <a href="/index">About</a>
            <a href="/signup">SignUp</a>
            <a href="/login">Login</a>
            <a href="">Contact Us</a>
        </div>
     </nav>

     
     <section class="hero">
    <div class="hero-content">
        <h1>Managemate</h1>
        <p>Manage Your Employee Data Seamlessly</p>
    </div>
    <div class="hero-image">
        <img src="{{ url_for('static', path='/assets/images/hero-img.png') }}" alt="Team working illustration">
    </div>
</section>


<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Managemate. All rights reserved.</p>
        <p>Contact: <a href="mailto:phanindra.dharmavarapu@accellor.com">support@managemate.com</a></p>
    </div>
</footer>
     
</body>
</html>